<!doctype html>
<html>
<head>
    <script src="./bower_components/jquery/dist/jquery.min.js"></script>
    <script src="./bower_components/angular/angular.min.js"></script>
    <script src="./bower_components/moment/min/moment.min.js"></script>
    <script src="./bower_components/angular-moment/angular-moment.min.js"></script>
    <script src="./bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="./bower_components/lodash/dist/lodash.min.js"></script>
    <script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./bower_components/d3/d3.min.js"></script>
    <script src="./bower_components/nvd3/build/nv.d3.min.js"></script>
    <script src="./bower_components/angular-nvd3/dist/angular-nvd3.min.js"></script>
    <script src="./bower_components/bootstrap-drawer/dist/js/drawer.min.js"></script>

    <script src="./app.js"></script>

    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="./bower_components/bootstrap-drawer/dist/css/bootstrap-drawer.min.css">
    <link rel="stylesheet" href="./bower_components/nvd3/build/nv.d3.min.css">

    <link rel="stylesheet" href="./stylesheets/main.css">
</head>
<body ng-app="QuartersProject">

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Performance Database</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><button class="btn navbar-btn navbar-right" ng-if="authenticated" ng-click="logout()">Logout</button></li>
            </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div ui-view></div>

</body>
</html>